.close-cross, .logo-2, .logo-3, .logo-4, .map-marker, .marker, .vk-icon, .fb-icon, .insta-icon, .logo-1{
	background: url(sprites.png) no-repeat;
}

.close-cross{
	background-position: -15px -16px ;
	width: 21px;
	height: 21px;
}

.logo-2{
	background-position: -190px -116px ;
	width: 209px;
	height: 87px;
}

.logo-3{
	background-position: -202px -16px ;
	width: 185px;
	height: 52px;
}

.logo-4{
	background-position: -431px -120px ;
	width: 173px;
	height: 84px;
}

.map-marker{
	background-position: -404px -249px ;
	width: 231px;
	height: 190px;
}

.marker{
	background-position: -13px -70px ;
	width: 25px;
	height: 2px;
}

.vk-icon{
	background-position: -14px -117px ;
	width: 26px;
	height: 15px;
}

.fb-icon{
	background-position: -19px -170px ;
	width: 12px;
	height: 22px;
}

.insta-icon{
	background-position: -15px -220px ;
	width: 21px;
	height: 21px;
}

.logo-1{
	background-position: -431px -15px ;
	width: 199px;
	height: 68px;
}

